{% extends 'base2.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}




    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Balance Sheet
{% endblock %}



{% block content %}
   <script>
        // Set the path as a global JavaScript variable
        const STYLES_PATH = "{% static 'js_reports/styles.css' %}";
    </script>

<link rel="stylesheet" type="text/css" href="{% static 'js_reports/styles.css' %}">



<body>

 {% include 'logsnipet.html' %}
<div class="container">
    <!-- Moved the print button here -->
    <button class="login-head" onclick="printContainer()">Print</button>
    <!-- Rest of your content ... -->
</div>

<script>
    function printContainer() {
        const contentToPrint = document.getElementById('container_to_print').outerHTML;
        const styles = `<link rel="stylesheet" type="text/css" href="${STYLES_PATH}">`; // Using the JavaScript variable for styles

        const newWindow = window.open('', '_blank');
        newWindow.document.write('<html><head>' + styles + '</head><body>' + contentToPrint + '</body></html>');
        newWindow.document.close();
        newWindow.focus();
        newWindow.print();

    }
</script>

<div>
   <form method="post">
    {% csrf_token %}

    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

    <input type="submit" value="Get Data">
        <br>
        <span>Chosen Dates: {{ end_date }} Select Dates you want to display</span>
</form>

<div id="container_to_print"><div class="container">
    <h1 class="text-center mb-4">{{ company_name }}</h1>
    <h2 class="text-center mb-4">Balance Sheet</h2>
    <h3 class="text-center mb-4">As of  {{ end_date }}</h3>
   <table>
            <colgroup>
                <col class="description-col">
                <col class="amount-col">
            </colgroup>
            <thead>
                <tr>
                    <th class="opening_line">Assets</th>
                    <th class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody id="statement">
            <tr>
                <th colspan="2" class="main-header">Currents Assets</th>
            </tr>
           {% for item in current_asset %}
                <tr class="item-row">
                    <td>{{ item.description }}</td>
                    <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                </tr>

            {% endfor %}
            <tr class="subtotal">
                <th class="total-header">Total Current Assets</th>
                <td class="text-end">{{ current_asset|sum_values:'amount'|floatformat:2|intcomma }}</td>
            </tr>
             <tr class="separator">
                <td colspan="2"></td>
            </tr>

            {% with total_fixed_asset=fixed_asset|sum_values:'amount' %}
    {% if fixed_asset != 0 %}
        <tr>
            <th colspan="2" class="main-header">Fixed Assets</th>
        </tr>
        {% for item in fixed_asset %}
            <tr class="item-row">
                <td>{{ item.description }}</td>
                <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr class="subtotal">
            <th class="total-header">Total Fixed Assets</th>
            <td class="text-end">{{ total_fixed_asset|floatformat:2|intcomma }}</td>
        </tr>
        <tr class="separator">
            <td colspan="2"></td>
        </tr>
    {% endif %}
{% endwith %}
{% with total_fixed_assets=fixed_asset|sum_values:'amount' total_current_assets=current_asset|sum_values:'amount' %}
    {% with total_assets=total_fixed_assets|add:total_current_assets %}
        <tr class="subtotal">
            <th class="opening_line">Total Assets</th>
            <td class="text-end">{{ total_assets|floatformat:2|intcomma }}</td>
        </tr>
    {% endwith %}
{% endwith %}
<tr class="separator">
            <td colspan="2"></td>
        </tr>

<tr class="subtotal">
            <th class="opening_line">Liabilities and Equity</th>
            <td class="text-end">Amount </td>
        </tr>
        <tr class="separator">
            <td colspan="2"></td>
        </tr>
{% with total_current_liability=current_liability|sum_values:'amount' %}
    {% if total_current_liability != 0 %}
        <tr>
            <th colspan="2" class="main-header">Current Liability</th>
        </tr>
        {% for item in current_liability %}
            <tr class="item-row">
                <td>{{ item.description }}</td>
                <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr class="subtotal">
            <th class="total-header">Total Current Liability</th>
            <td class="text-end">{{ total_current_liability|floatformat:2|intcomma }}</td>
        </tr>
        <tr class="separator">
            <td colspan="2"></td>
        </tr>
    {% endif %}
{% endwith %}

 {% with total_long_term_liability=long_term_liability|sum_values:'amount' %}
    {% if total_long_term_liability != 0 %}
        <tr>
            <th colspan="2" class="main-header">Long-Term Liability</th>
        </tr>
        {% for item in long_term_liability %}
            <tr class="item-row">
                <td>{{ item.description }}</td>
                <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr class="subtotal">
            <th class="total-header">Total Long-Term Liability</th>
            <td class="text-end">{{ total_long_term_liability|floatformat:2|intcomma }}</td>
        </tr>
        <tr class="separator">
            <td colspan="2"></td>
        </tr>
    {% endif %}
{% endwith %}

 {% with total_equity=equity|sum_values:'amount' %}
    {% if equity != 0 %}
        <tr>
            <th colspan="2" class="main-header">Equity</th>
        </tr>
        {% for item in equity %}
            <tr class="item-row">
                <td>{{ item.description }}</td>
                <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr class="subtotal">
            <th class="total-header">Equity</th>
            <td class="text-end">{{ total_equity|floatformat:2|intcomma }}</td>
        </tr>
        <tr class="separator">
            <td colspan="2"></td>
        </tr>
    {% endif %}
{% endwith %}

{% with total_long_term_liability=long_term_liability|sum_values:'amount' %}
{% with total_equity=equity|sum_values:'amount' %}
{% with total_current_liability=current_liability|sum_values:'amount' %}
{% with total_liabilities=total_long_term_liability|add:total_current_liability %}
{% with total_le=total_liabilities|add:total_equity %}
    <tr class="subtotal">
        <th class="opening_line">Total Equity and Liabilities</th>
        <td class="text-end">{{ total_le|floatformat:2|intcomma }}</td>
    </tr>
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}




       </tbody>
       <tfoot>
                <tr>
                    <th></th>
                    <td></td>
                </tr>
            </tfoot>
        </table>
</div> </div>
</div>
</body>
<link rel="stylesheet" type="text/css" href="{% static 'js_reports/styles.css' %}">
<script>


</script>
<button onclick="printContainer()">Print</button>


{% endblock %}
