{% extends 'base.html' %}

{% block title %}
    Data Analysis
{% endblock %}

{% block content %}
<div class="inside">
    <form method="post">
    {% csrf_token %}
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

    <input type="submit" value="Get Data">
        <br>
        <span>Chosen Dates: {{ start_date }} to {{ end_date }} Select Dates you want to display</span>
</form>



    <h1>Data</h1>
    <div  class="table table-bordered">{{ transactions|safe }}</div>

    <h1>Trial Balance </h1>
    <div class="table table-striped ">{{ summary|safe }}</div>




</div>
{% include 'profit_and_loss.html' %}
{% endblock %}