{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Home Page
{% endblock %}

{% block content %}
    <div class="row">
    <!-- Calendly badge widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script type="text/javascript">window.onload = function () {
        Calendly.initBadgeWidget({
            url: 'https://calendly.com/andreyboyarchuk/tax-preparation',
            text: 'One-click scheduling, made easy!',
            color: '#1fa534',
            textColor: '#cfe0f1',
            branding: false
        });
    }</script>
    <!-- Calendly badge widget end -->
    <div class="container-fluid">
        <div class="row" >

    <!-- First column for text -->
    <div class="col-lg-6" style="background-image: url({% static 'flaro-assets/images/headers/gradient3.svg' %}); background-size: cover; background-repeat: no-repeat;">
        <!-- Add your text here -->
  <!-- Heading with Shadow -->

        <div class="mt-3 mx-4 ">
<h1 class="hero-h1">
    Transcending Traditional Boundaries. LedgerDock: The Nexus of Accuracy and Innovation.
</h1>

<!-- Large Text -->
<p class="lead">
    This statement aims to convey a sense of evolution and sophistication, emphasizing the blend of time-tested accounting methods with forward-thinking technology.
</p>
            </div>
    </div>

    <!-- Second column for the profile image -->
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'flaro-assets/images/headers/profiles.png' %}" alt="">
    </div>
</div>





    </div>
    </div>

{% endblock %}