  <div class="navbar-fixed-left">
               <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <span class="navbar-text">Logged in as {{user.username}} | </span>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <p>Logged in Sample Company you Can view Dashboard for Sample Company</p>
            </li>
            {% endif %}
          </ul>
          </div>
