  <div class="navbar-fixed-left">

               <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <span class="navbar-text">Logged in as {{user.username}} | </span>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <p style="color: #8B0723">Logged in Sample Company </p>
               <p style="color: #8B0723">These data is fake and transactions are randomly created </p>
                <p style="color: #8B0723">You can view it only for demonstration purposes</p>
            </li>
            {% endif %}
          </ul>
          </div>
