{% load static %}
{% load custom_filters %}
{% load humanize %}
{% include 'logsnipet.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit and Loss Statement</title>
    <link rel="stylesheet" type="text/css" href="{% static 'js_reports/styles.css' %}">
</head>
<body>
<div class="container">
    <div id="container_to_print">
        <h1 class="text-center mb-4">{{ company_name }}</h1>
        <h2 class="text-center mb-4">Profit and Loss Statement</h2>
        <h3 class="text-center mb-4"> {{ period }}</h3>
        <table>
            <colgroup>
                <col class="description-col">
                <col class="amount-col">
            </colgroup>
            <thead>
            <tr>
                <th class="opening_line">Ordinary Income/Expense</th>
                <th class="text-end">Amount</th>
            </tr>
            </thead>
            <tbody id="statement">
            <tr>
                <th colspan="2" class="main-header">Income</th>
            </tr>
            {% for item in statement.income %}
                <tr class="item-row">
                    <td>{{ item.description }}</td>
                    <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}

            <tr class="subtotal">
                <th class="total-header">Total Income</th>
                <td class="text-end">{{ statement.income|sum_values:'amount'|floatformat:2|intcomma }}</td>
            </tr>
            <tr class="separator">
                <td colspan="2"></td>
            </tr>

            {% with total_cogs=statement.cogs|sum_values:'amount' %}
                {% if total_cogs != 0 %}
                    <tr>
                        <th colspan="2" class="main-header">COGS</th>
                    </tr>

                    {% for item in statement.cogs %}
                        <tr class="item-row">
                            <td>{{ item.description }}</td>
                            <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="subtotal">
                        <th class="total-header">Total COGS</th>
                        <td class="text-end">{{ total_cogs|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}

            {% with total_income=statement.income|sum_values:'amount' cogs=statement.cogs|sum_values:'amount' %}
                {% if cogs != 0   %}
                    <tr class="subtotal">
                        <th class="total-header">Gross Profit</th>
                        <td class="text-end">{{ total_income|subtract:cogs|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}

            <tr>
                <th colspan="2" class="main-header">Expenses</th>
            </tr>
            {% for item in statement.expenses %}
                <tr class="item-row">
                    <td>{{ item.description }}</td>
                    <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr class="subtotal">
                <th class="total-header">Total Expense</th>
                <td class="text-end">{{ statement.expenses|sum_values:'amount'|floatformat:2|intcomma }}</td>
            </tr>
            <tr class="separator">
                <td colspan="2"></td>
            </tr>



            {% with total_income=statement.income|sum_values:'amount' total_cogs=statement.cogs|sum_values:'amount' total_expenses=statement.expenses|sum_values:'amount' other_income=statement.other_income|sum_values:'amount' other_expenses=statement.other_expenses|sum_values:'amount' %}
                {% if other_income != 0 or other_expenses != 0 %}
                    <tr class="subtotal">
                        <th class="total-header">Total Operating Income</th>
                        <td class="text-end">{{ total_income|subtract:total_cogs|subtract:total_expenses|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}




            {% with total_other_income=statement.other_income|sum_values:'amount' %}
                {% if total_other_income != 0 %}
                    <tr>
                        <th colspan="2" class="main-header">Other Revenue</th>
                    </tr>

                    {% for item in statement.other_income %}
                        <tr class="item-row">
                            <td>{{ item.description }}</td>
                            <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="subtotal">
                        <th class="total-header">Total Other Revenues</th>
                        <td class="text-end">{{ total_other_income|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}



            {% with total_other_expense=statement.other_expense|sum_values:'amount' %}
                {% if total_other_expense != 0 %}
                    <tr>
                        <th colspan="2" class="main-header">Other Expense</th>
                    </tr>

                    {% for item in statement.other_expense %}
                        <tr class="item-row">
                            <td>{{ item.description }}</td>
                            <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="subtotal">
                        <th class="total-header">Total Other Expense</th>
                        <td class="text-end">{{ total_other_expense|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}






            <tr class="separator">
                {% with total_income=statement.income|sum_values:'amount' other_income=statement.other_income|sum_values:'amount' total_cogs=statement.cogs|sum_values:'amount' total_expenses=statement.expenses|sum_values:'amount' other_expense=statement.other_expense|sum_values:'amount' %}
                    {% with final_value=total_income|add:other_income|subtract:total_cogs|subtract:total_expenses|subtract:other_expense %}
                        <tr class="opening_line">
                            <th>Net Profit</th>
                            <td class="text-end">{{ final_value|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endwith %}
                {% endwith %}


            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'js_reports/styles.css' %}">
    <script>
        function printContainer() {
            const contentToPrint = document.getElementById('container_to_print').outerHTML;
            const styles = '<link rel="stylesheet" type="text/css" href="/static/js_reports/styles.css">';
// Include your styles here
            const newWindow = window.open('', '_blank');
            newWindow.document.write('<html><head>' + styles + '</head><body>' + contentToPrint + '</body></html>');
            newWindow.document.close();
            newWindow.focus();
            newWindow.print();
            newWindow.close();
        }

        document.getElementById('printButton').addEventListener('click', printContainer);

    </script>
    <button onclick="printContainer()">Print</button>
</div>
</body>
</html>

