{% extends 'base2.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}
{% include 'logsnipet.html' %}


     {% block title %}
    Profit and Loss Statement
{% endblock %}





{% block content %}
   <script>
        // Set the path as a global JavaScript variable
        const STYLES_PATH = "{% static 'js_reports/styles.css' %}";
    </script>


<link rel="stylesheet" type="text/css" href="{% static 'js_reports/styles.css' %}">
<body>

 {% include 'logsnipet.html' %}
<div class="container">
    <!-- Moved the print button here -->
    <button class="login-head" onclick="printContainer()">Print</button>
    <!-- Rest of your content ... -->
</div>

<script>
    function printContainer() {
        const contentToPrint = document.getElementById('container_to_print').outerHTML;
        const styles = `<link rel="stylesheet" type="text/css" href="${STYLES_PATH}">`; // Using the JavaScript variable for styles

        const newWindow = window.open('', '_blank');
        newWindow.document.write('<html><head>' + styles + '</head><body>' + contentToPrint + '</body></html>');
        newWindow.document.close();
        newWindow.focus();
        newWindow.print();

    }
</script>
   <form method="post">
    {% csrf_token %}
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

    <input type="submit" value="Get Data">
        <br>
        <span>Chosen Dates: {{ start_date }} to {{ end_date }} Select Dates you want to display</span>
</form>

    <div id="container_to_print">
     <div class="container">
        <h1 class="text-center mb-4">{{ company_name }}</h1>
        <h2 class="text-center mb-4">Profit and Loss Statement</h2>
        <h3 class="text-center mb-4"> {{ start_date }} to {{ end_date }}</h3>
        <table>
            <colgroup>
                <col class="description-col">
                <col class="amount-col">
            </colgroup>
            <thead>
            <tr>
                <th class="opening_line">Ordinary Income/Expense</th>
                <th class="text-end">Amount</th>
            </tr>
            </thead>
            <tbody id="statement">
            <tr>
                <th colspan="2" class="main-header">Income</th>
            </tr>
            {% for item in statement.income %}
                <tr class="item-row">
                    <td>{{ item.description }}</td>
                    <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}

            <tr class="subtotal">
                <th class="total-header">Total Income</th>
                <td class="text-end">{{ statement.income|sum_values:'amount'|floatformat:2|intcomma }}</td>
            </tr>
            <tr class="separator">
                <td colspan="2"></td>
            </tr>

            {% with total_cogs=statement.cogs|sum_values:'amount' %}
                {% if total_cogs != 0 %}
                    <tr>
                        <th colspan="2" class="main-header">COGS</th>
                    </tr>

                    {% for item in statement.cogs %}
                        <tr class="item-row">
                            <td>{{ item.description }}</td>
                            <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="subtotal">
                        <th class="total-header">Total COGS</th>
                        <td class="text-end">{{ total_cogs|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}

            {% with total_income=statement.income|sum_values:'amount' cogs=statement.cogs|sum_values:'amount' %}
                {% if cogs != 0   %}
                    <tr class="subtotal">
                        <th class="total-header">Gross Profit</th>
                        <td class="text-end">{{ total_income|subtract:cogs|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}

            <tr>
                <th colspan="2" class="main-header">Expenses</th>
            </tr>
            {% for item in statement.expenses %}
                <tr class="item-row">
                    <td>{{ item.description }}</td>
                    <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr class="subtotal">
                <th class="total-header">Total Expense</th>
                <td class="text-end">{{ statement.expenses|sum_values:'amount'|floatformat:2|intcomma }}</td>
            </tr>
            <tr class="separator">
                <td colspan="2"></td>
            </tr>



            {% with total_income=statement.income|sum_values:'amount' total_cogs=statement.cogs|sum_values:'amount' total_expenses=statement.expenses|sum_values:'amount' other_income=statement.other_income|sum_values:'amount' other_expenses=statement.other_expenses|sum_values:'amount' %}
                {% if other_income != 0 or other_expenses != 0 %}
                    <tr class="subtotal">
                        <th class="total-header">Total Operating Income</th>
                        <td class="text-end">{{ total_income|subtract:total_cogs|subtract:total_expenses|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}




            {% with total_other_income=statement.other_income|sum_values:'amount' %}
                {% if total_other_income != 0 %}
                    <tr>
                        <th colspan="2" class="main-header">Other Revenue</th>
                    </tr>

                    {% for item in statement.other_income %}
                        <tr class="item-row">
                            <td>{{ item.description }}</td>
                            <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="subtotal">
                        <th class="total-header">Total Other Revenues</th>
                        <td class="text-end">{{ total_other_income|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}



            {% with total_other_expense=statement.other_expense|sum_values:'amount' %}
                {% if total_other_expense != 0 %}
                    <tr>
                        <th colspan="2" class="main-header">Other Expense</th>
                    </tr>

                    {% for item in statement.other_expense %}
                        <tr class="item-row">
                            <td>{{ item.description }}</td>
                            <td class="text-end">{{ item.amount|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="subtotal">
                        <th class="total-header">Total Other Expense</th>
                        <td class="text-end">{{ total_other_expense|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {% endwith %}






            <tr class="separator">
                {% with total_income=statement.income|sum_values:'amount' other_income=statement.other_income|sum_values:'amount' total_cogs=statement.cogs|sum_values:'amount' total_expenses=statement.expenses|sum_values:'amount' other_expense=statement.other_expense|sum_values:'amount' %}
                    {% with final_value=total_income|add:other_income|subtract:total_cogs|subtract:total_expenses|subtract:other_expense %}
                        <tr class="opening_line">
                            <th>Net Profit</th>
                            <td class="text-end">{{ final_value|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endwith %}
                {% endwith %}


            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
    </div>


</body>

{% endblock %}
